/************Overall Style************/
body {
  margin: auto;
  text-align: center;
  font-family: Verdana,Geneva,sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #66BFBF;
  line-height: 3.5

}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  color: #66BFBF
}

h3{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5rem;
  color: #11999E;
}
p {
  margin: auto;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #40514E;
}

hr{
  border:none;
  border-top: 10px dotted;
  color:#EAF6F6;
  width: 10%;
  margin:2.5% auto 2.5% auto;
  position:inherit;
  clear: both
}

a:hover{
  color:#EAF6F6;
}
/************Class Style************/
.First_Container{
background-color: #EAF6F6;
height: auto;
width:100%;
position:relative;
padding-top:100px;
color:#66BFBF
}

.bottom-container{
background-color:#66BFBF;
Padding-top: 1.5%;
Padding-bottom: 1.5%;
line-height:2.5;
}

.First_Cloud{
  position: absolute;
  top: 50px;
  left:20%;
}
.Second_Cloud{
  position: absolute;
  bottom:400px;
  right:20%;
}

.profile{
  margin:50px auto 50px auto;
  line-height:2;
  width: 50%;
}

.Skills{
  margin:2.5% auto 2.5% auto;
  position: absolute;
}
.excel_skill{
  background-size: cover;
  border: 2px solid #1d6f42;
  border-radius: 50% 50% 50% 50%;
  max-width:25%;
  max-height:25%;
  float: left;
  margin-right:30px;
  font-size: auto;
}

.automation_skill{
  background-size: cover;
  border: 2px solid #5f9ea0;
  border-radius: 50% 50% 50% 50%;
  width:25%;
  height:25%;
  float: right;
  margin-left:30px;
}

.Coding_skill{
  background-size: cover;
  border: 2px solid #3C99DC;
  border-radius: 50% 50% 50% 50%;
  height:25%;
  width:25%;
  float: left;
  margin-right:30px;
}

.skill-row{
  width:50%;
  margin:5% auto 5% auto;
  text-align: left;
  line-height:2.5
}

.contact-me{
  width:50%;
  margin:2.5% auto 2.5% auto;
  line-height:2
}

.btn{
  background-color:#11999E;
  border: none;
  color: white;
  padding:2% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
  margin: 10% auto 10% auto;
}

.btn:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.footer-link{
  margin: auto 1% auto 1%;
  color: #11999E;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

.copyright_JJ{
  color: #EAF6F6;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
}
/*
.Second_Container{
background-color: yellow;
height: 100px;
width:100px;
position:absolute;
top: 100px;
left:100px
}

.Third_Container{
background-color: red;
height: 100px;
width:100px;
position:absolute;
top:200px;
left:200px
}
*/
